{% extends "material/base.html" %}
{% block content %}
<div class="showcase container purple lighten-3">
    <div class="row">
        <div class="col 12 m10 offset-ml center">
            <center><h2>Page Blocks Classification</h2>
            <p>Python for Data Analysis</p></center>
            <a href="{{url_for('index')}}" class="btn btn-small purple white-text waves-effect waves-dark">Reset</a>
            <a href="{{url_for('preview')}}" class="btn btn-small white purple-text waves-effect waves-dark">View Dataset</a>
            <a href="{{url_for('summary')}}" class="btn btn-small white purple-text waves-effect waves-dark">Summary</a>
        </div>

    </div>
</div>
<section class="section section-signup">
        <div class="container">
          <div class="row">
           
            <div class="col s12 m4">
              <div class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-0">
                <form action="{{ url_for('analyze')}}" method="POST">
                  <div class="input-field">
                   <p class="range-field">
                        <input type="range" id="height_input" name="height" min="0" max="500" value="0" step="10" >
                    <label for="Height">Height</label>
                    
                  </div>
                   <div class="input-field">
                   <p class="range-field">
                        <input type="range" id="area_input" name="area" min="0" max="150000" value="0" step="100">
                    <label for="">Area</label>
                  </div>
                   <div class="input-field">
                   <p class="range-field">
                        <input type="range" id="eccen_input" name="eccen" min="0" max="600" value="0"
                   step="10" >
                    <label for="">Eccentricity</label>
                  </div>
                  <div class="input-field">
                   <p class="range-field">
                        <input type="range" id="p_black_input" name="p_black" min="0" max="1" value="0"
                  step="0.05">
                    <label for="">Percentage of black pixels</label>
                  </div>
                  <div class="input-field">
                   <p class="range-field">
                        <input type="range" id="p_and_input" name="p_and" min="0" max="1" value="0"
                  step="0.05">
                    <label for="">Percentage after RLSA</label>
                  </div>
                  <div class="input-field">
                   <p class="range-field">
                        <input type="range" id="blackpix_input" name="blackpix" min="0" max="35000" value="0"
                  step="100">
                    <label for="">Number of black pixels</label>
                  </div>
                  <div class="input-field">
                   <p class="range-field">
                        <input type="range" id="blackand_input" name="blackand" min="0" max="50000" value="0"
                  step="100">
                    <label for="">Number after RLSA</label>
                  </div>

                  <div class="input-field">
                    <select id="role" name="model_choice">
                      <option value="" disabled selected>Select Model</option>
                      <option value="decision_tree_model">Decision Tree</option>
                        <option value="random_forest_model">Random Forest</option>
                        <option value="ada_boosting_model">ADA Boosting</option>
                    </select>
                    <label for="role">Select Machine Learning Algorithm</label>
                  </div>
                  <input type="submit" value="Predict" class="btn green">
                  <input type="reset" value="Clear" class="btn red">
                </form>
              </div>
            </div>
             <div class="col s12 m4 offers">
                     <div class="card-panel purple lighten-4 grey-text text-darken-4 z-depth-0">
                         
                           <p>Height: {{ height }}</p>
            <p>Area: {{ area }}</p>
            <p>Eccentricity: {{ eccen}} </p>
            <p>Percentage of black pixels: {{ p_black}}</p>
            <p>Percentage after RLSA: {{ p_and}}</p>
            <p>Number of black pixels: {{ blackpix}}</p>
            <p>Number after RLSA: {{ blackand}}</p>
         Using {{ model_selected }} on {{ clean_data }}
              
            </div>
                     </div>
                     
          
    
            
    
             <div class="col s12 m4 offers">
                 <center>
                <h5>Prediction</h5>
                <div class="card-image waves-effect waves-block waves-light">
                    
                      {% if result_prediction == [1] %}
                    <div class="collection" role="alert">
                    <p  class="collection-item active purple">Predicted result : Text </p>
                </div>
                        <img src="static/images/text.png" width="200px" height="200px">
    
                        {% elif result_prediction == [2]  %}
                    <div class="collection" role="alert">
                    <p  class="collection-item active purple">Predicted result : Horizontal Line </p>
                </div>
                          <img src="static/images/horizontal_line.png" width="200px" height="200px">
                        
                        {% elif result_prediction == [3]  %}
                    <div class="collection" role="alert">
                    <p  class="collection-item active purple">Predicted result : Picture </p>
                </div>
                          <img src="static/images/picture.png"width="200px" height="200px" >

                        {% elif result_prediction == [4]  %}
                    <div class="collection" role="alert">
                    <p  class="collection-item active purple">Predicted result : Vertical Line </p>
                </div>
                          <img src="static/images/vertical_line.png"width="200px" height="200px" >

                        {% elif result_prediction == [5]  %}
                    <div class="collection" role="alert">
                    <p  class="collection-item active purple">Predicted result : Graphic </p>
                </div>
                          <img src="static/images/graphic.png"width="200px" height="200px" >

                        {% else %}
                    <div class="collection" role="alert">
                    <p  class="collection-item active purple">Predicted result </p>
                </div>
                            <p></p></center>
                        
                
                       {% endif%}
                </div>
              
              </div>
              
            </div>
          </div>
        </div>
      </section>




      {% endblock%}

      {% block scripts %}
      {{super()}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
      <!-- <script type="text/javascript">
           document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('select');
          var instances = M.FormSelect.init(elems, options);
        });
      </script> -->
      
      <script>
          // Or with jQuery
      
        $(document).ready(function(){
          $('select').formSelect();
        });
      </script>
      
      {% endblock %}